
<body>
    <!-- Hero Section -->
    <div class="container-fluid p-5 text-center hero-section">
        <div class="overlay"></div>
        <h1 class="display-4">Discover Unique Artworks</h1>
        <p class="lead">Explore and purchase one-of-a-kind creations from talented artists.</p>
    </div>

    <!-- Categories Section -->
    <div class="container my-5">
        <h2 class="text-center mb-4" style="margin-bottom: 2.25rem !important;">Browse Categories</h2>
        <div class="row">
            <div class="col-3 mb-4" *ngFor="let category of categories">
                <div class="category-card">
                    <img [src]="category.imageUrl" class="category-img" alt="{{ category.name }}">
                    <h5 class="text-center mt-2">{{ category.name }}</h5>
                </div>
            </div>
        </div>
    </div>

    <!-- Featured Artworks Section -->
    <div class="container mt-5 featured-artworks-section">
        <h2 class="text-center mb-4" style="margin-bottom: 2.25rem !important;">Featured Artworks</h2>
        <div class="row">
            <app-product-detail *ngFor="let product of products" class="col-md-3 mb-4" [product]="product">
            </app-product-detail>
        </div>

        <!-- Pagination Controls -->
        <div class="pagination-controls text-center mt-4">
            <button class="btn btn-outline-primary me-2" (click)="prevPage()" [disabled]="currentPage === 1">
                Previous
            </button>
            <span>Page {{ currentPage }}</span>
            <button class="btn btn-outline-primary ms-2" (click)="nextPage()" [disabled]="!canGoNext()">
                Next
            </button>
        </div>
    </div>

    <!-- Testimonials Section -->
    <div class="container my-5 testimonials-section">
        <h2 class="text-center mb-4" style="margin-bottom: 2.25rem !important;">What Our Customers Say</h2>
        <div class="row">
            <div class="col-md-3" *ngFor="let testimonial of testimonials">
                <div class="card shadow-lg testimonial-card">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <p class="card-text">"{{ testimonial.message }}"</p>
                        <h6 class="card-subtitle text-muted mt-4 text-end">- {{ testimonial.name }}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="bg-dark text-white py-4">
        <div class="container text-center">
            <p>&copy; 2024 ArtShop. All Rights Reserved.</p>
            <p>
                <a href="#" class="text-white mx-2">Privacy Policy</a> |
                <a href="#" class="text-white mx-2">Terms of Service</a>
            </p>
        </div>
    </footer>

</body>