<div class="card app-product-card" (click)="openModal(product)">
    <img [src]="product.imageUrl" class="card-img-top" alt="{{ product.name }}">
    <div class="card-body">
        <div class="product-info">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.price | currency }}</p>
        </div>
        <div class="product-meta">
            <span class="store-name">{{ product.store.name }}</span>
        </div>
    </div>
</div>

<!-- Modal (Hidden by default) -->
<div class="modal fade" tabindex="-1" [ngClass]="{'show': showModal}" (click)="closeModal()">
    <div class="modal-dialog" (click)="$event.stopPropagation()">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title-container">
                    <div class="modal-title-wrapper">
                        <h5 class="modal-title">{{ selectedProduct?.name }}</h5>
                        <span class="store-name-modal">{{ selectedProduct?.store.name }}</span>
                    </div>
                    <button type="button" class="close" (click)="closeModal()">&times;</button>
                </div>
            </div>
            <div class="modal-body">
                <div class="modal-body-content">
                    <!-- Image Section -->
                    <div class="modal-image">
                        <img [src]="selectedProduct?.imageUrl" class="img-fluid" alt="{{ selectedProduct?.name }}">
                    </div>
                    <!-- Product Details Section -->
                    <div class="modal-details">
                        <p class="product-description">{{ selectedProduct?.description }}</p>
                        <div class="product-meta">
                            <span class="artist-name">By {{ selectedProduct?.artistName }}</span>
                        </div>

                        <div class="price-quantity-container">
                            <!-- Price Section -->
                            <div class="price-quantity-wrapper">
                                <div class="product-price">
                                    <strong>{{ selectedProduct?.price | currency }}</strong>
                                </div>

                                <!-- Quantity Selector -->
                                <div class="quantity-selector">
                                    <label for="quantity">Quantity:</label>
                                    <input type="number" id="quantity" [(ngModel)]="selectedQuantity" [min]="1"
                                        [max]="selectedProduct?.stock" step="1" />
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-primary" (click)="addToCart()">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>