<div class="container d-flex justify-content-center mt-5">
    <div class="checkout-card p-5 shadow-lg">
        <h3 class="text-center mb-4">Checkout</h3>
        <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
            <!-- Full Name -->
            <div class="mb-3">
                <label for="fullName" class="form-label">Full Name</label>
                <input type="text" id="fullName" class="form-control" formControlName="fullName"
                    placeholder="Enter your full name">
                <small class="text-danger"
                    *ngIf="checkoutForm.get('fullName')?.touched && checkoutForm.get('fullName')?.invalid">Full Name is
                    required.</small>
            </div>

            <!-- Shipping Address -->
            <div class="mb-3">
                <label for="address" class="form-label">Shipping Address</label>
                <input type="text" id="address" class="form-control" formControlName="address"
                    placeholder="Enter your shipping address">
                <small class="text-danger"
                    *ngIf="checkoutForm.get('address')?.touched && checkoutForm.get('address')?.invalid">Address is
                    required.</small>
            </div>

            <!-- City and Zip Code (Same Line) -->
            <div class="row mb-3">
                <div class="col-6">
                    <label for="city" class="form-label">City</label>
                    <input type="text" id="city" class="form-control" formControlName="city"
                        placeholder="Enter your city">
                    <small class="text-danger"
                        *ngIf="checkoutForm.get('city')?.touched && checkoutForm.get('city')?.invalid">City
                        is required.</small>
                </div>
                <div class="col-6">
                    <label for="zipCode" class="form-label">Zip Code</label>
                    <input type="text" id="zipCode" class="form-control" formControlName="zipCode"
                        placeholder="Enter your zip code">
                    <small class="text-danger"
                        *ngIf="checkoutForm.get('zipCode')?.touched && checkoutForm.get('zipCode')?.invalid">Zip Code is
                        required.</small>
                </div>
            </div>

            <!-- Country-->
            <div class="mb-3">
                <label for="country" class="form-label">Country</label>
                <lib-country-list [countryListConfig]="countryListConfig"
                    [selectedCountryConfig]="selectedCountryConfig"
                    (onCountryChange)="onCountryChange($event)"></lib-country-list>

                <small class="text-danger"
                    *ngIf="checkoutForm.get('country')?.touched && checkoutForm.get('country')?.invalid">Country is
                    required.</small>
            </div>


            <!-- Phone Number -->
            <div class="mb-3">
                <label for="phoneNumber" class="form-label">Phone Number</label>
                <input type="tel" id="phoneNumber" class="form-control" formControlName="phoneNumber"
                    placeholder="Enter your phone number">
                <small class="text-danger"
                    *ngIf="checkoutForm.get('phoneNumber')?.touched && checkoutForm.get('phoneNumber')?.invalid">Phone
                    Number is
                    required.</small>
            </div>

            <!-- Email Address -->
            <div class="mb-3">
                <label for="email" class="form-label">Email Address</label>
                <input type="email" id="email" class="form-control" formControlName="email"
                    placeholder="Enter your email address">
                <small class="text-danger"
                    *ngIf="checkoutForm.get('email')?.touched && checkoutForm.get('email')?.invalid">Email is
                    required.</small>
            </div>

            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary btn-lg mt-4 w-50 d-block mx-auto"
                [disabled]="checkoutForm.invalid">
                Place Order
            </button>
        </form>
    </div>
</div>